{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear MarcaEquipo</h1>

    {{ form(form) }}

        <div class="form-actions">
        <a href="{{ path('marcaequipo') }}" class="btn btn-mini">
            Cancelar        </a>
{% endblock %}
