{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Municipio </h1>

    {{ form(edit_form) }}

        <div class="form-actions">
        <a href="{{ path('municipio') }}" class="btn btn-mini">
            Cancelar        </a>
{% endblock %}
